@tailwind base;
@tailwind components;
@tailwind utilities;

.background-logo {
    background-image: url('https://imgur.com/a/nClWLFy');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.1;
    pointer-events: none;
    z-index: 0;
  }