@tailwind base;
@tailwind components;
@tailwind utilities;

.background-logo {
    background-image: url('https://i.ibb.co/nMs9CPSS/YARI.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px;
    position: fixed;
    opacity: 0.1;
    pointer-events: none;
    z-index: 0;
  }